* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* ===== GENERAL ===== */

body {
  background-color: #d6cda4;
}

main {
  width: 70%;
  margin: auto;
  margin-top: 6.25rem;
}

section {
  padding: 6.25rem;
  background-color: #eef2e6;
  border-radius: 1.563rem;
  margin-bottom: 6.25rem;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  color: #3d8361;
  padding: 3.125rem 0rem;
  background-color: #d6cda4;
}

h2 {
  font-size: 2rem;
  color: #3d8361;
  padding-bottom: 1.875rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.313rem;
}

p,
li {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

a img:hover {
  opacity: 0.5;
}

a:hover {
  color: #3d8361;
}

/* ===== MENU ===== */

nav {
  display: flex;
  height: 6.25rem;
  justify-content: center;
  align-items: center;
  background: #3d8361;
  position: fixed;
  top: 0rem;
  width: 100%;
  z-index: 3;
}

nav ul {
  display: flex;
  list-style: none;
}
nav li {
  position: relative;
  margin: 0 1.875rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: 0.5s;
}
nav li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.188rem;
  top: 100%;
  left: 0;
  background: #d6cda4;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

nav li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav a:hover {
  color: #eef2e6;
}

/* ===== PRESENTATION ===== */

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0rem 3.125rem 3.125rem 3.125rem;
}

.presentation__img {
  width: 15.625rem;
  height: 15.625rem;
  object-fit: cover;
  border-radius: 50%;
}

.presentation__texte {
  padding-left: 2.5rem;
  text-align: justify;
  line-height: 1.5;
}

.presentation__texte span {
  font-size: 1.3rem;
  font-weight: bold;
  color: #3d8361;
}

/* ===== HARD & SOFT SKILLS ===== */

.container__skill {
  text-align: center;
  margin: auto;
}

.hardskill__text {
  display: block;
  width: 20%;
}

.container__skill--status {
  padding: 1.25rem 0rem;
}

.container__skill--img.hardskill {
  height: 6.25rem;
}

.softskill .container__skill--img {
  border-radius: 50%;
  background-color: #3d8361;
  border: solid 0.188rem #d6cda4;
  padding: 1.25rem;
}

.softskill:hover {
  transform: scale(1.5);
}

/* ===== FORMATIONS & EXPERIENCES PRO ===== */

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.875rem;
  padding: 0rem 3.125rem;
}

.grid__date {
  font-size: 1.5rem;
  text-align: end;
}

.grid__company {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.313rem;
}

.grid__company img {
  height: 2rem;
  margin-right: 0.625rem;
}

.grid__company--italic {
  font-style: italic;
  padding: 0;
}

.grid__company--boldgreen {
  font-weight: bold;
  color: #3d8361;
}

.grid__text--padding {
  padding-left: 0.938rem;
}

.grid__list--star {
  list-style-type: "\1F31F";
}

.grid__list--valid {
  list-style-type: "\2705";
}

.grid__list--medal {
  list-style-type: "\1F3C5";
}

/* ===== PASSIONS ===== */

.container--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 12.5rem 12.5rem;
  gap: 1.875rem;
  padding: 0rem 3.125rem;
}

.passion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.passion__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.passion__heading--hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eef2e6;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.passion__heading--hover:hover {
  display: none;
}

.passion--center {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

/* ===== CONTACT ===== */

footer {
  background-color: #3d8361;
  padding: 2.5rem 30%;
}

footer h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.container--flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact__img {
  height: 1.875rem;
  padding-right: 0.625rem;
  margin-bottom: 0.313rem;
}

.container--flex > div {
  flex: 1;
}

.socialnetwork {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.socialnetwork__img {
  height: 3.125rem;
  padding: 0rem 0.625rem;
}

/* ===== RESPONSIVE DESIGN ===== */

@media screen and (max-width: 960px) {
  nav {
    display: none;
  }
  main {
    margin-top: 0;
  }
  .presentation {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .grid__date {
    text-align: center;
    border-bottom: #3d8361 solid 0.125rem;
  }
  .grid__company {
    flex-direction: column;
  }
  .grid p,
  .grid h3 {
    text-align: center;
  }
  .container--grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
  }
  #contact > .container--flex,
  #soft-skills > .container--flex,
  #hard-skills > .container--flex,
  .container__skill--status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .socialnetwork {
    margin-top: 2.5rem;
  }
  .hardskill__text {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  section,
  footer {
    padding: 1.25rem;
  }
  h2 {
    text-align: center;
  }
  .presentation__texte {
    padding-left: 0rem;
  }
  .grid,
  .container--grid {
    padding: 0rem;
  }
  #passions > h2 {
    padding-bottom: 0rem;
  }
}
